<div class="mw-45r mh-auto ma-0r mb-2r">
  <h2 class="ma-0r ff-lato fw-300 fs-1_125r lh-1_75 c-black"><%= quote %></h2>
  <h2 class="ma-0r ff-lato fw-300 fs-1_125r lh-1_75 c-black">—<%= author %></h2>
</div>
