/* Float */
.f-left { float: left; }
/* Height */
.h-2r { height: 2rem; }
/* Width */
.w-1r { width: 1rem; }
.w-16r { width: 16rem; }
/* Max Width */
.mw-45r { max-width: 45rem; }
.mw-69r { max-width: 69rem; }
/* Margin */
.ma-0r { margin: 0; }
.mh-auto { margin-right: auto; margin-left: auto; }
.mt-1r { margin-top: 1rem; }
.mr-0r { margin-right: 0; }
.mb-0_5r { margin-right: 0.5rem; }
.mr-2r { margin-right: 2rem; }
.mb-0_25r { margin-bottom: 0.25rem; }
.mb-1r { margin-bottom: 1rem; }
.mb-1_5r { margin-bottom: 1.5rem; }
.mb-2r { margin-bottom: 2rem; }
.mb-4r { margin-bottom: 4rem; }
.mb-8r { margin-bottom: 8rem; }
/* Padding */
.pa-0r { padding: 0; }
.pv-8r { padding-top: 8rem; padding-bottom: 8rem; }
.ph-0r { padding-right: 0; padding-left: 0; }
.ph-1r { padding-right: 1rem; padding-left: 1rem; }
.ph-2r { padding-right: 2rem; padding-left: 2rem; }
.pt-2r { padding-top: 2rem; }
.pt-8r { padding-top: 8rem; }
.pr-1r { padding-right: 1rem; }
.pr-2r { padding-right: 2rem; }
.pb-4r { padding-bottom: 4rem; }
.pl-1r { padding-left: 1rem; }
.pl-2r { padding-left: 2rem; }
/* Text Align */
.ta-center { text-align: center; }
/* Font Family */
.ff-lato { font-family: 'Lato', sans-serif; }
.ff-gill_sans { font-family: 'Gill Sans', sans-serif; }
/* Font Weight */
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
/* Font Size */
.fs-1r { font-size: 1rem; }
.fs-1_125r { font-size: 1.125rem; }
.fs-2r { font-size: 2rem; }
.fs-3r { font-size: 3rem; }
/* Font Style */
.fs-italic { font-style: italic; }
/* Line Height */
.lh-0 { line-height: 0; }
.lh-1_75 { line-height: 1.75; }
/* Color */
.c-black { color: #000000; }
.c-gray { color: #828282; }
.c-white { color: #ffffff; }
/* Text Transform */
.tt-uppercase { text-transform: uppercase; }
/* Letter Spacing */
.ls-0_5r { letter-spacing: 0.5rem; }
/* Font Smoothing */
html { -webkit-font-smoothing: antialiased; }
/* List Style Type */
.lst-none { list-style-type: none; }
/* Display */
.d-block { display: block; }
.d-inline_block { display: inline-block; }
.d-table_cell { display: table-cell; }
/* Position */
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.b-2r { bottom: 2rem; }
.l-2r { left: 2rem; }
/* Z-Index */
.zi-1 { z-index: 1; }
.zi-2 { z-index: 2; }
/* Vertical Align */
.va-middle { vertical-align: middle; }
/* Box Shadow */
.bs-alpha { box-shadow: 0 0.25rem 3rem rgba(0,0,0,0.15); }
.bs-beta { box-shadow: 0 0.5rem 4rem rgba(0,0,0,0.05); }
/* Clearfix */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* Aspect Ratio */
.ar { height: 0; position: relative; }
.ar-object { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 100; }
.ar-film { padding-bottom: 151.85%; }
/* White Space */
.ws-no_wrap { white-space: nowrap; }
/* Overflow */
.ox-auto { overflow-x: auto; }
.ox-auto::-webkit-scrollbar { display: none; }
.os-touch { -webkit-overflow-scrolling: touch; }
.oy-hidden { overflow-y: hidden; }
/* Functions */
.ttf-cubic_bezier { -webkit-transition-timing-function: cubic-bezier(.25,.8,.25,1); transition-timing-function: cubic-bezier(.25,.8,.25,1); }
.ttf-ease_in_out { -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
/* Durations */
.td-0_3s { -webkit-transition-duration: .3s; transition-duration: .3s; }
.td-1s { -webkit-transition-duration: 1s; transition-duration: 1s; }
.td-2s { -webkit-transition-duration: 2s; transition-duration: 2s; }
.td-3s { -webkit-transition-duration: 3s; transition-duration: 3s; }
/* Properties */
.tp-all { -webkit-transition-property: all; transition-property: all; }
.tp-transform { -webkit-transition-property: transform; transition-property: transform; }
.tp-box_shadow { -webkit-transition-property: box-shadow; transition-property: box-shadow; }
.tp-opacity { -webkit-transition-property: opacity; transition-property: opacity; }
/* Opacity */
.o-0 { opacity: 0; }
.o-0_5 { opacity: .5; }
.o-1 { opacity: 1; }
/* Transform */
.t-translateX0 { -webkit-transform: translateX(0); transform: translateX(0); }
.t-translateY0 { -webkit-transform: translateY(0); transform: translateY(0); }
.t-translateX4r { -webkit-transform: translateX(4rem); transform: translateX(4rem); }
.t-translateY-0_5r { -webkit-transform: translateY(-0.5rem); transform: translateY(-0.5rem); }
.t-translateY0 { -webkit-transform: translateY(0); transform: translateY(0); }
.t-translateY100p { -webkit-transform: translateY(100%); transform: translateY(100%); }
/* Rotate */
.t-rotate-90d { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
/*
  MEDIA: Not Small
*/
@media screen and (min-width: 30em) {
  /* Display */
  .d-block-ns { display: block; }
  /* Float */
  .f-left-ns { float: left; }
  /* Width */
  .w-50p-ns { width: 50%; }
  /* Margin */
  .mr-0r-ns { margin-right: 0; }
  .mb-4r-ns { margin-bottom: 4rem; }
  .mb-8r-ns { margin-bottom: 8rem; }
  /* Padding */
  .pv-8r-ns { padding-top: 8rem; padding-bottom: 8rem; }
  /* Transform */
  .t-translateY0-ns { -webkit-transform: translateY(0); transform: translateY(0); }
  .t-translateY4r-ns { -webkit-transform: translateY(4rem); transform: translateY(4rem); }
}
/*
  MEDIA: Medium
*/
@media screen and (min-width: 30em) and (max-width: 65em) {
  /* Padding */
  .ph-1r-m { padding-right: 1rem; padding-left: 1rem; }
  .ph-2r-m { padding-right: 2rem; padding-left: 2rem; }
}
/*
  MEDIA: Large
*/
@media screen and (min-width: 65em) {
  /* Margin */
  .mt-2r-l { margin-top: 2rem; }
  .mb-2r-l { margin-bottom: 2rem; }
  /* Padding */
  .ph-0r-l { padding-right: 0; padding-left: 0; }
  .ph-2r-l { padding-right: 2rem; padding-left: 2rem; }
}
