/* Height */
.h-2r { height: 2rem; }
/* Width */
.w-1r { width: 1rem; }
/* Max Width */
.mw-45r { max-width: 45rem; }
.mw-65r { max-width: 65rem; }
/* Margin */
.ma-0r { margin: 0rem; }
.mh-auto { margin-right: auto; margin-left: auto; }
.mb-1_5r { margin-bottom: 1.5rem; }
.mb-2r { margin-bottom: 2rem; }
/* Padding */
.pa-0r { padding: 0rem; }
.pv-8r { padding-top: 8rem; padding-bottom: 8rem; }
.ph-1r { padding-right: 1rem; padding-left: 1rem; }
.pr-1r { padding-right: 1rem; }
.pl-1r { padding-left: 1rem; }
/* Text Align */
.ta-center { text-align: center; }
/* Font Family */
.ff-lato { font-family: 'Lato', sans-serif; }
.ff-gill_sans { font-family: 'Gill Sans', sans-serif; }
/* Font Weight */
.fw-300 { font-weight: 300; }
/* Font Size */
.fs-1_125r { font-size: 1.125rem; }
/* Line Height */
.lh-0 { line-height: 0; }
.lh-1_75 { line-height: 1.75; }
/* Color */
.c-black { color: #000000; }
/* Font Smoothing */
html { -webkit-font-smoothing: antialiased; }
/* List Style Type */
.lst-none { list-style-type: none; }
/* Display */
.d-block { display: block; }
.d-inline_block { display: inline-block; }
.d-table_cell { display: table-cell; }
/* Vertical Align */
.va-middle { vertical-align: middle; }
